<div class="card">
    <div class="card-body">
        <h1>{{doc.titulo}}</h1>
        <hr>
        <small>Criado em: {{doc.data}}</small>
        <hr>
        <small>{{doc.conteudo}}</small>
    </div>
</div>