<form action="/form" method="POST">
    <h3>Cadastrar: </h3>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="content"></textarea>
    <button type="submit">Cadastrar</button>
</form>